.breadcrumb{
    margin: 0;
    justify-content: flex-end;
}

.breadcrumb-item+.breadcrumb-item::before {
    float: right;
    margin-left: 10px;
}

.breadcrumb-item a{
    text-decoration: none;
}

.blog .jumbotron{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid var(--main-color);
}

.blog-details{
    width: 55%;
}

.blog-details h4{
    font-size: 20px;
}

.blog-img{
    width: 40%
}

.blog-img img{
    width: 250px;
}

.star-title{
    margin-right: 20px
}

.search .input-group-text{
    cursor: pointer;
    border-radius: 5px 0px 0px 5px;
    margin-right: -4px;
    padding-right: 15px;
    padding-left: 15px;
}

.search .input-group-text i{color: var(--main-color);}

.recent h4{ font-size: 20px; }
.recent p{ font-size: 15px;}
.recent span{ font-size: 14px;}

.words ul li{ font-size: 12px; }

@media(max-width: 991px){

    .blog .jumbotron{
        flex-direction: column;
        gap: 1rem;
    }
    .blog-details{
        width: 100%;
    }

    .blog-img{
        width: 100%;
    }

}